# Data - never commit
 *.dcm
 stage_2_train_images/
 stage_2_test_images/
 *.csv

# Caches
 cache/
 *.npy
 *.pkl

# Environment
 .venv312/
 .python-version
 _pycache_/
 .ipynb_checkpoints/

# Notebook artefacts
 *.backup.ipynb
 report_figures/